## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser

## Build Results
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## JetBrains Rider
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

## Publish profiles
*.Publish.xml
*.pubxml
*.publishproj

## Database
*.mdf
*.ldf
*.ndf

## Others
*.cache
*.log
*.tmp
appsettings.Development.json
appsettings.Local.json
